<p>
  <strong>Trade:</strong>
  <%= @trade.name %>
</p>

<p>
  <strong>Listed Jobs:</strong>
  <ul><% @trade.jobs.each do |job| %></ul>
  	<li><%= job.name %></li>
  <% end %>
</p>


<%= link_to 'Edit', edit_trade_path(@trade) %> |
<%= link_to 'Back', trades_path %>


<!-- NOTES
turn this form into a partial
remove it as a link in routes
render it in trademandprofilepages -->