<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @trademanrole.name %>
</p>

<%= link_to 'Edit', edit_trademanrole_path(@trademanrole) %> |
<%= link_to 'Back', trademanroles_path %>
