<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @businesstype.name %>
</p>

<%= link_to 'Edit', edit_businesstype_path(@businesstype) %> |
<%= link_to 'Back', businesstypes_path %>
