<h2>The Tradesman "Skills & Trades" preference section</h2>


<% @trades.each do |trade| %>
  <tr>
    <td>
        <strong><%= trade.name %> </strong>
        <ul>
          <% trade.jobs.each do |job| %>
          <li>
            <%= check_box_tag "job_ids[]", job.id %>
            <%= job.name %>
          </li>
          <% end %>
        </ul>
    </td>
  </tr>
<% end %>
