<h2>I am the Tradesman "Skills & Trades" section</h2>


<% @trades.each do |trade| %>
  <tr>
    <td>
        <%= trade.name %></br>
        <ul>
          <% trade.jobs.each do |job| %>
            <li><%= job.name %></li>
          <% end %>
        </ul>
    </td>
  </tr>
<% end %>