<h2>I am the Tradesman "Skills & Trades" section</h2>


<% @trades.each do |trade| %>
  <tr>
    <td>
        <%= trade.name %>
        <ul>
          <% trade.jobs.each do |job| %>
          <li>
            <%= check_box_tag "job_ids[]" %>
            <%= job.name %>
          </li>
          <% end %>
        </ul>
    </td>
  </tr>
<% end %>