<h2>Home#index</h2>
<p>Find me in app/views/home/index.html.erb</p>
<h1>We have thousands of recommended tradesmen across the UK</h1>

<%= simple_form_for Application.new, url: '/applications/new', :method => :get  do |f| %>
  <div class="field">
    <%= f.collection_select :trade_id, Trade.order(:name), :id, :name, prompt: "-- select trade --" %>
  </div>

  <div class="field">
    <%= f.grouped_collection_select :job_id, Trade.order(:name), :jobs, :name, :id, :name, prompt: "-- select job type --" %>
  </div>

  <div class="actions"><%= f.submit "Next Step" %></div>

<!--   #TODO when user selects trade and job and clicks next step and then clicks back in application new page to return here - the filters do not work -->

<% end %>

