<% provide(:title, 'Job alerts' ) %>
<h2>Trademan Profile: Edit Job Lead Setting Page</h2>

<div>
	<ul>
		<li><%= link_to 'Job Leads', jobleads_trademanprofiles_path %> </li>
		<li><%= link_to 'Purchased Jobs', purchased_trademanprofiles_path %> </li>
		<li><%= link_to 'Member Benifits', memberBenifits_trademanprofiles_path %> </li>
		<li><%= link_to 'Account', account_trademanprofiles_path %> </li>
	</ul>
</div>

<div>
	<h2>Job Lead Settings</h2>
	<div class="tabs">
	    
	   <div class="tab">
	       <input type="radio" id="tab-1" name="tab-group-1" checked>
	       <label for="tab-1">Area</label>
	       <div class="content">
	           stuff1
	       </div> 
	   </div>
	    
	   <div class="tab">
	       <input type="radio" id="tab-2" name="tab-group-1">
	       <label for="tab-2">Skills & Trades</label>
	       <div class="content">
	           stuff2
	       </div> 
	   </div>
	    
	    <div class="tab">
	       <input type="radio" id="tab-3" name="tab-group-1">
	       <label for="tab-3">Certifications</label>
	       <div class="content">
	           stuff3
	       </div> 
	   </div>

	    <div class="tab">
	       <input type="radio" id="tab-4" name="tab-group-1">
	       <label for="tab-4">Alert Contact Preferences</label>
	       <div class="content">
	           stuff4
	       </div> 
	   </div>
	    
	</div>
</div>