<% provide(:title, 'Member Benifits' ) %>
<h2>Trademan Profile: Member Benifits Page</h2>

<ul>
	<li><%= link_to 'Job Leads', jobleads_trademanprofiles_path %> </li>
	<li><%= link_to 'Purchased Jobs', purchased_trademanprofiles_path %> </li>
	<li><%= link_to 'Member Benifits', memberBenifits_trademanprofiles_path %> </li>
	<li><%= link_to 'Account', account_trademanprofiles_path %> </li>
</ul>