<h2>Trademan Profile: Account Page</h2>

<ul>
	<li><%= link_to 'Job Leads', trademanprofile_jobleads_path %> </li>
	<li><%= link_to 'Purchased Jobs', trademanprofile_purchased_path %> </li>
	<li><%= link_to 'Member Benifits', trademanprofile_memberBenifits_path %> </li>
	<li><%= link_to 'Account', trademanprofile_account_path %> </li>
</ul>